################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
*.CopyComplete
*.cache
/src/RealAntennasProject/bin
/src/RealAntennasProject/obj
/src/RealAntennasProject/*.csproj*
/GameData/RealAntennas/Plugins
